html {
    background: #fff;

}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 100px;
    padding: 40px;
    color: #111;
    border-top: 10px solid #111;
}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 5px solid #111;
    margin: 40px;

}

.blog-post {
    border-bottom: 5px solid #111;
    background-color: #aaa;
}

article {
    border-bottom: 5px solid #111;
    background-color: #e3e3e3;
}

#table {
    background-color: aliceblue;
}

#sign-up {
    margin: 40px;
    padding-top: 15px;
}