html {
    background: #fff;

}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #111;
    border-top: 10px solid #111;
}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 5px solid #111;
    display: flex;
}

article {
    border-bottom: 5px solid #111;
    background-color: #111;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    flex: 1;
}

article:nth-of-type(2) {
    flex: 1;
}

#table {
    background-color: #111;
    align-items: center;
}

#sign-up {
    margin: 40px;
    padding-top: 15px;
}

#r1 {
    background-color: #fff;
}

#r2 {
    background-color: #e3e3e3;
}

#r3 {
    background-color: #aaa;
}

#r4 {
    background-color: #e3e3e3;
}

.contact-form {
    padding-top: 20px;
}

nav {
    background-color: #e3e3e3;
    position: sticky;
    top: 0;
}